@using Tatyrkova.Eshop.Web.Areas.Admin.Controllers
@model Product
@{
    ViewData["Title"] = "Create Product";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to create product item.</p>

@{
    ViewBag.Action = nameof(ProductController.Create);
}

<partial name="CreateEditForm" model="Model">
