@model Product
@using Tatyrkova.Eshop.Web.Areas.Admin.Controllers
@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

@{
    ViewBag.Action = nameof(ProductController.Edit);
}
<partial name="CreateEditForm" model="Model">
